.header {

     nav {display: flex;
         align-items: center;
         justify-content: space-between;
        
        
          
}

.logo {display: flex;
     align-items: center;
     column-gap: 1px;}

.logo-text {color: orange;
           font-size: 1.6rem;
           font-weight: 600;}     


img {height: 80px;} 


      
}